/* OfflineNotification.css */

.offline-notification {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #f44336; 
    color: #fff; 
    text-align: center;
    padding: 8px 0;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2); /* Box shadow for a subtle effect */
    z-index: 1000; /* Make sure it appears above other content */
    font-size: 16px;
    font-weight: bold;
  }
  

  